/* GENERELT */
body {
  margin: 0;
  font-family: var(--font-p-var1);
  background-color: var(--bg-base);
  color: var(--black-primary);
}

section {
  width: 100%;
}

/* ---------- NEW REALISM ---------- */

.new-realism {

   display: flex;

  min-height: 90vh;
}

.New_realism_text {
  width: 50%;
  background-color: var(--blue-primary);
  color: white;
  padding: 60px;

display: flex;

  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 120px;
}

.New_realism_text h1 {
  margin: 0;
  line-height: 1;
  text-align: right;
}

.New_realism_text h1:first-child {


  font-family: var(--font-h1-var1);
  font-style: italic;
  font-size: 100px;
  font-weight: 400;
}

.New_realism_text h1:last-child {


    font-family: var(--font-h1-var2);
  font-size: 180px;
  font-weight: 500;
  letter-spacing: 10px
}

.New_realism_img {
  width: 50%;
 
}

.New_realism_img img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------- COMMENTS ---------- */

.comments {


    background-color: var(--base-var3);
  padding: 80px 0;
  text-align: center;

 
}
.comments-text {
  max-width: 700px;
  margin: 0 auto;

}

.comments h2:first-child {
 
  color: var(--blue-primary);

    font-family: var(--font-h2-var1);
  font-style: italic;
  font-size: 32px;
  font-weight: 400;margin: 0;
  line-height: 1.2;
}

.comments h2:last-child {
  font-family: var(--font-h2-var2);
  color: var(--contrast-2);

  
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
  
} .comments h2:nth-of-type(2) {
  color: var(--contrast-2);
    margin-top: 4px;
}

.comments p {
  margin-top: 30px;
  line-height: 1.6;
}

/* ---------- ARTWORKS ---------- */

.artworks {
  display: flex;
  background-color: var(--red-var1);
  color: white;
       min-height: 90vh;
}

.artworks img {
  width: 50%;
 
}
.artworks-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artworks-text {
  width: 50%;
  padding: 60px;
}

.artworks-text h2 {
 
   font-family: var(--font-h2-var2);
  font-size: 50px;
  letter-spacing: 6px;
  font-weight: 500;
}

.artworks-text p {
  line-height: 1.6;
}

p {
  font-family: var(--font-p-var1);
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
}

/* ---------- MOBIL ---------- */

@media (max-width: 768px) {
  .new-realism,
  .artworks {
    flex-direction: column;
  }

  .New_realism_text,
  .New_realism_img,
  .artworks img,
  .artworks-text {
    width: 100%;
  }

  .comments {
    padding: 60px 10%;
  }
}
