/* GENERELT */
body {
  margin: 0;
  font-family: var(--font-p-var1);
  background-color: var(--bg-base);
  color: var(--black-primary);
}

section {
  width: 100%;
}

/* ---------- NEW REALISM ---------- */

.new-realism {
  display: flex;

  height: 90vh;
}

.new_realism_text {
  width: 50%;
  background-color: var(--contrast-4);
  color: var(--bg-base);
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.new_realism_text h1:first-child {
  line-height: 70%;
}
.new_realism_text h1 {
  margin: 0;
  text-align: right;
}

.New_realism_img {
  width: 50%;
}

.New_realism_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------- COMMENTS ---------- */

.comments {
  background-color: var(--bg-base);
  padding: 80px 0;
  text-align: center;
  height: 90vh;
}
.comments-text {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.comments h2:first-child {
  color: var(--blue-primary);
  margin-bottom: 6px;
  margin-left: -450px;
}

.comments h2:last-child {
  font-family: var(--font-h2-var2);
  color: var(--contrast-2);
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}
.comments h2:nth-of-type(2) {
  color: var(--contrast-2);
  margin-top: 4px;
}

.comments p {
  margin-top: 30px;
  line-height: 1.6;
}

/* ---------- ARTWORKS ---------- */

.artworks {
  display: flex;
  background-color: var(--red-var1);
  color: var(--bg-base);
  min-height: 90vh;
}

.artworks img {
  width: 50%;
}
.artworks-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artworks-text {
  width: 50%;
  padding: 60px;
}

.artworks-text h2 {
  line-height: 1.6;
}

p {
  font-family: var(--font-p-var1);

  font-weight: 400;
}

/* ---------- MOBIL ---------- */

@media (max-width: 768px) {
  /* Stack sektioner */
  .new-realism,
  .artworks {
    flex-direction: column;
  }

  .new_realism_text,
  .New_realism_img,
  .artworks-text,
  .artworks-img {
    width: 100%;
  }

  .new_realism_text {
    height: 45vh;
    padding: 60px 20px;
  }
  .New_realism_img {
    order: -1;
  }

  /* Comments Sektion */
  .comments {
    padding: 100px 0;
  }

  .comments h2:first-child {
    margin-left: -180px;
  }
  .comments-text p {
    padding: 20px 20px;
  }

  /* Artworks tekst */
  .artworks-text {
    padding: 36px 6%;
    text-align: center;
  }
}
