section {
  height: 90vh;
}

body {
  background-color: var(--bg-base);
}

p {
  font-family: var(--font-p-var1);
}

/* TOPPEN */

.about_section_top {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 90vh;
  background-color: var(--contrast-4);
}

.img_top img {
  height: 90vh;
  width: 50vw;
  object-fit: cover;
}
.about_top {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: flex-end;
  padding: 30px;
  width: 50vw;
}

.about_top .h1-var1 {
  color: var(--bg-base);
  text-align: right;
}

.about_top .h1-var3 {
  color: var(--contrast-1);
  text-align: right;
  padding-bottom: 40px;
}

/* SECTION 2 */

.about_background {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  text-align: left;
}

.background_header h2 {
  font-size: 5rem;
  padding-bottom: 20px;
  color: var(--red-primary);
  text-align: center;
}

.background_earlyyears_header h2 {
  font-size: 2.2rem;
  color: var(--blue-primary);
  margin: -15px 0;
  margin-left: 500px;
}

.background_text {
  max-width: 680px;
  padding: 40px 40px;
  color: var(--black-primary);
}

/* VIDEO SECTION */

.about_interviewmain {
  background-color: var(--red-var1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PRINTSHOP */
.about_printshop {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 95vh;
}

.printshop_header .h2-var2 {
  color: var(--red-primary);
  margin-top: 20px;
}

.about_printshop .printshop_img img {
  width: 30vw;
  max-width: 500px;
  object-fit: cover;
  margin: 170px 30px;
}

.printshop_header p {
  margin-top: 20px;
  max-width: 65ch;
  font-size: 18px;
  color: var(--black-primary);
}

.printshop_header {
  margin: 40px 10px 0 100px;
}

/* GRAPHIC ARTS */
.about_graphic {
  background-color: var(--blue-primary);
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.graphic_img {
  display: flex;
  align-items: baseline;
  justify-content: right;
  padding: 20px;
}
.graphic_img img {
  width: 30vw;
  max-width: 500px;
  height: auto;
  padding-right: 30px;
  padding-top: 150px;
}

.graphic_header p {
  margin-top: 20px;
  max-width: 65ch;
  font-size: 18px;
  color: var(--bg-base);
}

.graphic_header .h2-var2 {
  color: var(--contrast-2);
  margin-top: 20px;
}

.graphic_header {
  margin: 40px 40px 0 10px;
}

/* THE FIRM */
.about_firm {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 95vh;
}

.firm_header .h2-var2 {
  color: var(--red-primary);
  margin-top: 20px;
}

.about_firm .firm_img img {
  width: 30vw;
  max-width: 500px;
  object-fit: cover;
  margin: 170px 30px;
}

.firm_header p {
  margin-top: 20px;
  max-width: 65ch;
  font-size: 18px;
  color: var(--black-primary);
}

.firm_header {
  margin: 40px 10px 0 100px;
}

/* KNAP TIL CONTACT */
.more-var1 {
  background-color: var(--red-primary);
  width: 200px;
  padding: 16px;
  border-radius: 42.5px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: var(--font-h2-var2);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  color: var(--bg-base);
}
.more-var1:hover {
  background-color: var(--red-var1);
}

.background_header1 h2 {
  font-size: 5rem;
  margin-bottom: 10px;
  color: var(--red-primary);
  text-align: center;
  margin-top: 60px;
}

/* UNMUTE UKNOWN CSS */
.about_mainvideo {
  position: relative;
}
.video-unmute {
  position: absolute;
  left: 12px;
  bottom: 12px;
  background: var(--red-var1);
  color: var(--bg-base);
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

/* MOBILSITE */

@media (max-width: 800px) {
  .about_section_top {
    grid-template-columns: 1fr;
  }

  .img_top {
    order: -1;
  }
  .img_top img {
    height: 45vh;
    width: 100vw;
  }
  .about_top {
    height: 45vh;
    width: 100vw;
    margin: 0;
    padding: 20px;
  }
  .about_top .h1-var1 {
    margin-left: 0;
  }

  .about_background {
    padding: 20px 20px;
    text-align: left;
    margin-top: 0;
  }

  .background_header h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    padding-bottom: 0;
    padding-top: 50px;
  }
  .background_header1 h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    padding-bottom: 0;
    padding-top: 50px;
  }

  .background_earlyyears_header h2 {
    font-size: 1.5rem;
    color: var(--blue-primary);
    margin: -15px 0;
  }
  .background_text {
    margin-top: 20px;
    padding: 10px;
    color: var(--black-primary);
  }
  .background_text p {
    padding-bottom: 20px;
  }

  video {
    width: 90vw;
  }

  .about_printshop {
    grid-template-columns: 1fr;
    height: 180vh;
  }

  .printshop_header {
    margin: 0;
    padding: 20px 20px;
  }
  .printshop_header .h2-var2 {
    margin-top: 0;
  }
  .about_printshop .printshop_img {
    display: flex;
    justify-content: center;
    align-items: center;
    order: -1;
  }
  .about_printshop .printshop_img img {
    margin: 0;
    width: 90vw;
    margin-top: 20px;
  }
  .about_graphic .graphic_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .about_graphic .graphic_img img {
    margin: 0;
    width: 90vw;
    margin-top: 20px;
    padding: 0;
  }

  .about_graphic {
    grid-template-columns: 1fr;
    height: 180vh;
  }

  .graphic_header {
    margin: 0;
    padding: 0 20px;
  }

  .graphic_header .h2-var2 {
    margin-top: 0;
  }

  .about_firm {
    grid-template-columns: 1fr;
    height: 160vh;
  }
  .firm_header {
    margin: 0;
    padding: 20px;
  }
  .firm_header .h2-var2 {
    margin-top: 0;
  }
  .firm_img {
    order: -1;
  }
  .about_firm .firm_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .about_firm .firm_img img {
    margin: 0;
    width: 90vw;
    margin-top: 20px;
  }

  .about_background .more-var1 {
    margin-top: 40px;
  }
}
